/* Write your code here: */
h1, h2{
    color: blueviolet;
}

.box > p {
    color: firebrick;
}

.box li{
    color: blue;
}
li.done {
    color: rgb(247, 140, 47);
}

ul p.done{
    color:red;
    font-size: 0.5rem;
}
